<div class="col-sm-6">
    <img src="images/people.jpg" alt="">
</div>
<div class="col-sm-6">
    <h1>Welcome!</h1>
    <p>Check out all our great new courses!</p>
    <p> If you want to know more about a course, click <a href="/courses">the courses page</a></p>
    <p> When you see an offering you like, you can <a href="/contact">contact us and we will register you!</a></p>
</div>